{% extends 'base.html.twig' %}

{% block body %}
    <img src="front_logo.jpg" class="img-fluid" alt="front-logo"/>
    <a href="http://www.freepik.com/free-vector/caduceus-medical-care-icon-vector_678243.htm">Designed by Freepik</a>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
