{% extends 'base.html.twig' %}

{% block title %}Reportes especiales{% endblock %}

{% block body %}

    {% if resultado is defined %}
        <div class="alert alert-success" role="alert">Se ha guardado con éxito el archivo: {{ resultado }}</div>
    {% endif %}

    <a href="/reporte.pdf">Descargar reporte</a>

{% endblock %}
