{% extends 'base.html.twig' %}

{% block title %}Consulta CV{% endblock %}

{% block body %}

    {% if resultado is defined %}
        <div class="alert alert-success" role="alert">Se ha guardado con éxito el archivo: {{ resultado }}</div>
    {% endif %}

    <form method="post">
      <div class="form-group">
        <label for="registro">Registro médico</label>
        <input type="text" class="form-control" id="registro" name="registro" aria-describedby="registroHelp" placeholder="" value="{{ registro }}">
        <small id="registroHelp" class="form-text text-muted">Ingrese el registro médico a buscar.</small>
      </div>
      <input type="submit" name="submit" value="Buscar" class="btn btn-primary">
    </form>

{% endblock %}
